*.aux
*.bak
*.bbl
*.bib.bak
*.blg
*.brf
*.dvi
.idea/
*.idx
*.ilg
*.iml
*.ind
*.loa
*.lof
*.log
*.lot
*.m~
*.nav
nbproject/
*.o
octave-workspace
*.out
*.pdf
*.ps
*.pyc
*.snm
*.swp
*.synctex.gz
*.synctex.gz(busy)
target/
*.tex.swo
*.toc
*.vrb
